<div class="container">

  <div class="row">
    <div class="col s12 m3">
      <div class="card" data-url="/items/xx">
        <div class="card-image">
          <img src="http://oivgvnues.bkt.clouddn.com/nba/GSW.svg">
        </div>
        <div class="card-content">
          <p class="headline">勇士</p>
          <p class="subhead">旧金山</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="http://oivgvnues.bkt.clouddn.com/nba/GSW.svg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p> effectively.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="http://oivgvnues.bkt.clouddn.com/nba/GSW.svg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p> effectively.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="http://oivgvnues.bkt.clouddn.com/nba/GSW.svg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p> effectively.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $(".button-collapse").sideNav();
  });
</script>
